:root{
    --primary-color: #CCDDFF;
    --secondary-color: #FFDDCC;
    --tertiary-color: #DDFFCC;
    --light: #ffffff;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

*{
    box-sizing: border-box;
}

header, footer{
    background-color: var(--primary-color);
}

main > nav, main > aside{
    background-color: var(--secondary-color);
}

main > section{
    background-color: var(--tertiary-color);
}

#artzone{
    
}
