@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <h1>Who say's?</h1>
    <h2>@ViewBag.title</h2>
    <h3>@ViewBag.desc</h3>
</div>