html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

*{
    box-sizing: border-box;
}

:root{
    --primary : #000;
    --column-del : #222;
    --column-id: #333;
    --hover : #664;
    --line-grey: #444;
    --light : #ffffff;
    /* Region des nutriscores */
    --nutri-a : darkgreen;
    --nutri-b: #009900CC;
    --nutri-c: #cccc00cc;
    --nutri-d: #cc6600cc;
    --nutri-e: #cc0000cc;
    
}

#table{
    color: var(--light);
}

body{
    background-color: var(--primary);
}

header{
    display: flex;
    flex-direction: row;
}

#filter{
    display: flex;
    flex-direction: row;
}

header > h1{
    margin-right: 10rem;
}

header > fieldset {
    color: var(--light);
    display: inline-block;
    vertical-align: middle;
}